/* ##########  COLORS  ########## */

$white: #FFFFFF;
$black: #000000;
$grey-medium: #5e5e5e;
$grey-dark: #292828;
$blue-primary: #0B2D5A;

/* ##########  TYPOGRAPHY  ########## */

$font-pt-sans: 'PT Sans',sans-serif;
$font-comfortaa: 'Comfortaa', cursive;
$font-raleway: 'Raleway', sans-serif;
$font-laila: 'Laila', cursive;
$font-source-sans: 'Source Sans Pro', sans-serif;

/* ##########  BREAKPOINTS  ########## */

$screen-min-xs:  320px;
$screen-min-s:   480px;
$screen-min-sm:  768px;
$screen-min-md:  991px;
$screen-min-lg: 1200px;
$screen-max-xs:  767px;
$screen-max-sm:  990px;
$screen-max-md: 1199px;