#skills{

}
#skills h3 {
  margin-bottom:40px;
  font-weight: 100;
  letter-spacing: 1.4px;
}
#skills p {
  text-transform: uppercase;
  letter-spacing: 1.2px;
}
.skillBars{
  margin-bottom: 40px;
}

#skills div[class^="width"] {
    height: 12px;
    background: rgba(3,29,45,.1);
    margin-bottom: 15px;
    position: relative;
}

#skills div[class^="width"]::before {
    content: '';
    position: absolute;
    background:rgb(3,29,45);
    height: 100%;
    left:0;
    top:0;
    width: 0;
    transition: all 1s;
}

#skills .visible .width90::before{
    width:90%;
  }
  
  #skills .visible .width50::before{
    width:50%;
    transition-delay: .2s;
  }
  
  #skills .visible .width60::before{
    width:60%;
    transition-delay: .4s;
  }
  
  #skills .visible .width40::before{
    width:40%;
    transition-delay: .6s;
  }
  
  #skills .visible .width70::before{
    width:70%;
    transition-delay: .8s;
}
